.item-about{
  overflow: hidden;
}

.bannerItem {
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.bannerItem .icon {
  margin: auto;
  color: #5dbf03;
  width: 80px;
  height: 80px;
  font-size: 200%;
  line-height: 75px;
  border: #5dbf03 4px solid;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: .5s;
}

.bannerItem .text {
  width: 250px;
  margin: auto;
  font-size: large;
  transition: .5s;
  color: transparent;
}

.bannerItem:hover .text {
  margin: auto;
  color: #fff;
}

.bannerItem:hover .icon {
  border: #fff 4px solid;
  color: #fff;
}

.comero-nav .navbar .navbar-nav .nav-item a.nav-link {
  white-space: nowrap !important;
}

.navbar-area #MenuBarLogo {
  display: none;
}

.navbar-area.is-sticky a.navbar-brand {
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.navbar-area.is-sticky #MenuBarLogo {
  display: block;
}

.gallery-content .single-category-box {
  border: transparent 2px solid;
}


.gallery-content .single-category-box::before {
  opacity: 0 !important;
}
