.modalContainer {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 50;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    transition: .5s;
    padding: 20px;
}

.modalContainer.active {
    display: flex;
}

.modalContainer .modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40%;
    padding: 50px;
    background: #fff;
}

.modalContainer .modal textarea {
    padding: 10px;
    display: block;
    min-height: 300px;
    margin: 5px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
